* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    content: " ";
    clear: both;
  }

/* container */
#app {
    width: 60%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* logo */
#logo {
    text-align: center;
}

#logo img {
    width: 70%;
}

/* adder */

#adder {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#adder input, #adder button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* lista note */

.notes {
    background-color: aquamarine;
    
}

.notes ul {
    list-style: none;
    padding: 40px 20px;
}

.notes ul li {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid turquoise;
    padding: 15px;
}

.notes i {
    float: right;
}

.notes ul li:hover {
    background-color: rgb(2, 83, 83);
}
